[2022-08-14 21:50] rufilboy opened #9 "Need to update the year."

[2022-08-15 19:57] #9 closed

[2022-10-01 18:15] Ashish-khanagwal opened #12 "Feat: Want to add some more tools related to Web-Dev"
I want to add some new sections called `Fonts and Typography Tools` and  `Great Colors Tools`

[2022-10-02 06:41] #12 closed

[2022-10-02 10:06] Ashish-khanagwal opened #17 "Bug: Broken link"
In `Font and Typography Tools` section, one of the links is not working.
I will add another resources with working link under the same section

Here are the attachments

![bad gateway](https://user-images.githubusercontent.com/75534912/193448729-e23f48b6-6576-4b24-8d65-3a60cbe075f3.jpg)

![suirrel](https://user-images.githubusercontent.com/75534912/193448751-6212d6a4-4254-4d92-90a7-2ab5ca996e9c.jp

[2022-10-02 15:55] #17 closed

[2022-10-02 16:14] yashikabhargava opened #19 "Create navigation for resources in header"
Create navigation to reach particular resources quickly.

[2022-10-02 16:23] yashikabhargava opened #20 "Make landing page image respsonsive"
When the screen size goes below 500px, the landing page image is not completely visible, so make it responsive.
![Capture](https://user-images.githubusercontent.com/76060661/193464954-988383ce-c42b-4d84-8a89-9d1dfa5a6178.PNG)

[2022-10-02 16:25] yesimhozman commented on #20
can you assign it to me ? I want to make contribution

[2022-10-02 16:29] yashikabhargava commented on #20
Sure, You can go for it.

[2022-10-02 16:37] yashikabhargava opened #21 "Make landing page text responsive"
When reducing the screen size, the size of the text on the landing page remains the same, make it responsive to make the website suitable for all screen sizes.
![Capture](https://user-images.githubusercontent.com/76060661/193465389-db1ee1a3-645e-4773-adb4-13a489d54e8a.PNG)

[2022-10-02 16:40] Heismanish commented on #19
Hey, I would like to do this.

[2022-10-02 16:40] harsitagarwalla187 commented on #19
it already has a navbar . What more do we have to add?

[2022-10-02 16:41] yashikabhargava opened #22 "Make get started button on landing page responsive"
![Capture](https://user-images.githubusercontent.com/76060661/193465672-79637975-da14-47be-929c-0c30eb0b8eae.PNG)

[2022-10-02 16:45] harsitagarwalla187 commented on #21
Please assign it to me.

[2022-10-02 16:46] yashikabhargava commented on #19
under resources, a further dropdown menu can be added to access particular resources quickly. Like -
- Icons
- Ui illustration
- CSS generators
 and so on

[2022-10-02 16:47] yashikabhargava commented on #19
@harsitagarwalla187 Okay, I'm assigning it to you.

[2022-10-02 16:48] yashikabhargava commented on #21
Okay, Assigning it to you.

[2022-10-02 16:48] harsitagarwalla187 commented on #19
@yashikabhargava  Okay

[2022-10-02 16:49] yesimhozman commented on #20
Is it okay to use bootstrap ?

[2022-10-02 16:49] harsitagarwalla187 commented on #19
@yashikabhargava  you assigned it to Heismanish

[2022-10-02 16:50] then00bprogrammer commented on #22
assign it to me

[2022-10-02 16:54] yashikabhargava commented on #20
Yes, You can use bootstrap.

[2022-10-02 16:55] yesimhozman commented on #20
thanks

[2022-10-02 16:57] yashikabhargava commented on #19
Yes, I'm sorry I mentioned you by mistake. Assigned it to him because he asked first.

[2022-10-02 17:11] harsitagarwalla187 commented on #21
![Screenshot (53)](https://user-images.githubusercontent.com/84774840/193466941-5b981eb8-d7b1-476b-b859-26d4dcb37301.png)
Is it ok?

[2022-10-02 17:11] harsitagarwalla187 commented on #19
Okay

[2022-10-02 17:13] yashikabhargava commented on #21
Yes the text looks fine but I'm not able to see the get started button, Where did that go?

[2022-10-02 17:15] harsitagarwalla187 commented on #21
Ok let try to solve that also.

[2022-10-02 17:20] harsitagarwalla187 commented on #21
![Screenshot 2022-10-02 225018](https://user-images.githubusercontent.com/84774840/193467338-6aab384a-e287-4820-ba26-7dfba6072d42.png)

[2022-10-02 17:39] yashikabhargava commented on #21
Looking good, you can go head and make a PR.

[2022-10-02 17:49] harsitagarwalla187 commented on #21
Ok thank you

[2022-10-02 18:13] #21 closed

[2022-10-03 07:25] Heismanish commented on #19
@yashikabhargava, check this out please.
![Screenshot from 2022-10-03 12-54-13](https://user-images.githubusercontent.com/92051445/193522179-d07fd805-4437-4021-8b7a-a1fb4c4caa2c.png)

[2022-10-03 07:54] Heismanish commented on #19
@yashikabhargava  here it is, check it out.
![Screenshot from 2022-10-03 13-23-17](https://user-images.githubusercontent.com/92051445/193527196-aa7bdfb7-7a12-44f9-b856-893390452f7b.png)

[2022-10-03 08:30] yashikabhargava commented on #19
Looking great but please make the dropdown appear under resources and remove the menu as there is no need for that.
Thanks

[2022-10-03 09:59] piyush362 commented on #22
can i do this ?

[2022-10-03 10:03] grraghav120 opened #26 "Add new feature: Follow Us/Share Us button"
We can add Follow Us buttons on various Social media platforms
Buttons like:
Facebook
Twitter
Linkedin etc

If you like my idea kindly assign this issue to me i can add this new feature under hacktoberfest-accepted label

[2022-10-03 10:04] sujay26p opened #27 "Make Contact Us Section UI better"
Alignment of the Contact Us labels looks bit different from the text box below so planning to align them to the left along with some background to the contact Us section. Looking to change Submit shape similar to above text fields.

[2022-10-03 10:29] yashikabhargava commented on #27
Okay, assigning this issue to you. Please use the PR template provided when you open a PR and Thank you for submitting your issue.

[2022-10-03 10:31] yashikabhargava commented on #26
Yes, Assigning this to you, and thank you for submitting your issue.

[2022-10-03 10:35] yashikabhargava commented on #22
@then00bprogrammer any update? kindly reply by end of the day else I'll be assigning it to @piyush362 .

[2022-10-03 10:37] #20 closed

[2022-10-03 11:01] Heismanish commented on #19
@yashikabhargava have a look, is it better now.
![Screenshot from 2022-10-03 16-23-33](https://user-images.githubusercontent.com/92051445/193560741-7fde7c7e-ac92-4ef0-ba20-2f7a8fc62957.png)

[2022-10-03 11:06] yashikabhargava commented on #19
Yes, looking great. You can go ahead and open a PR.

[2022-10-03 11:08] yashikabhargava commented on #22
No problem.

[2022-10-03 11:12] sujay26p commented on #27
@yashikabhargava  Thanks for assigning the issue and can you please add the label hacktober as well, i will be contributing under it.

[2022-10-03 11:30] piyush362 opened #29 "Make navbar look good in mobile devices"
<img width="414" alt="image" src="https://user-images.githubusercontent.com/62232366/193566786-3e7e2e74-0811-4645-ab3e-f8cb1bc812b9.png">

[2022-10-03 11:36] yashikabhargava commented on #29
Thank you for submitting the issue, do you want to work on it?

[2022-10-03 11:39] grraghav120 commented on #26
Okay i am working on this..
Kindly add one more label as HACKTOBERFEST-ACCEPTED Thank you.

[2022-10-03 11:43] #22 closed

[2022-10-03 11:48] sarthakastic commented on #29
I want to work on this issue. Please assign it to me.

[2022-10-03 12:13] #27 closed

[2022-10-03 12:18] yashikabhargava commented on #26
@grraghav120 That label is for PRs, I'll add it to your PR once it's merged.

[2022-10-03 12:31] yashikabhargava opened #33 "Automate labeling of PRs and issues"
Automate the labeling of PRs and issues by creating labeler.yml under .github/ workflow.

some labels can be

- hacktoberfest-accepted for PRs that are merged and were opened by hacktoberfest participants.
- Good-first-issue
- Enhancement
- design
- hacktoberfest for issues raised by hacktoberfest participants.

more labels can be added but please ask for approval before adding.

[2022-10-03 12:35] grraghav120 opened #34 "Create a Page Up Scroll Button"
There is no Scroll Up button and having it makes the user's work easy and user friendly
Please assign me this under Hacktoberfest 2022
@yashikabhargava

[2022-10-03 12:36] Prashant7451 opened #35 "Improvement in design of contact form"
Contact form is quite old fashioned i want to redesign it

[2022-10-03 12:38] yashikabhargava commented on #35
Please provide more information on the changes that you are planning on doing.

[2022-10-03 12:39] akashyap25 opened #36 "Change the font and size of texts"
The font is not well designed and size of texts are uneven , I can improve this , please assign it to me.

[2022-10-03 12:40] yashikabhargava commented on #34
Yes, that's a great suggestion. I'll assign it to you once your previous PR is merged.

[2022-10-03 12:42] yashikabhargava commented on #36
Can you please provide more information on which section's font size you are talking about? Also, what are the changes that you are planning?

[2022-10-03 12:46] Prashant7451 commented on #35
The input box looks more large i will use bootstrap to  make it look more better

![0871b475-fd06-4f08-a3f3-9becf8ff019e](https://user-images.githubusercontent.com/103504965/193579820-e80cd17b-007e-477e-b212-d8a2ad664391.jpg)
Using this reference adding css bootstrap it will make contact form look more attractive

Using this reference

[2022-10-03 12:46] Aspireve commented on #33
Hey!! @yashikabhargava could I work on this?
Also could I know about how to distinguish between the different labels ie. How do I know if the PR is from a Hacktoberfest participant

[2022-10-03 12:48] akashyap25 commented on #36
* The logo text should be bolder with a good font
* The nav-bar texts are very small
* all the for texts(e.g. for icons ) needs a bit top and bottom padding and better font style

[2022-10-03 12:54] piyush362 commented on #29
yes i want to work, assign to me , please

[2022-10-03 13:16] yashikabhargava commented on #36
Okay, assigning it to you. Are your creating this issue under hacktoberfest?

[2022-10-03 13:18] akashyap25 commented on #36
Yes

[2022-10-03 13:26] yashikabhargava commented on #35
Okay, sounds good. Assigning it to you. Are you raising this issue under hacktoberfest?

[2022-10-03 13:26] Prashant7451 commented on #35
Should i pull request for change? I have completed it almost.

[2022-10-03 13:26] Prashant7451 commented on #35
Yes its under hacktoberfest

[2022-10-03 13:33] yashikabhargava commented on #33
I've added a question in the PR template, so it will be mentioned in the PR if the PR is under hacktoberfest. Maybe we can do something like if PR contains hacktobefest keyword then it will be labeled.

[2022-10-03 13:37] yashikabhargava commented on #29
@piyush362 okay, assigning it to you.
@sarthakastic Thank you for showing your interest, you can raise another issue and I'll assign that to you.

[2022-10-03 14:20] notafk-rajat opened #37 "Add a favicon to the website"
Since there is no favicon currently we can put one there.
This issue is opened under Hacktoberfest.

[2022-10-03 14:25] piyush362 commented on #29
Hey, it's done please checkout , and can you please add hacktoberfest label

[2022-10-03 14:27] Rashmisingh-18 commented on #37
Please assign this issue to me.
Want to add this as favicon: https://img.icons8.com/stickers/2x/developer-mode.png

[2022-10-03 14:29] notafk-rajat commented on #37
This issue is not yet validated by the owner of the repository, I just noticed something that should be there and mentioned it.

[2022-10-03 14:33] Rashmisingh-18 opened #39 "Improving the UI"
Want to add some changes in UI like improving navbar, adding hover and transition effects to cards, adding favicon and improving the footer.

[2022-10-03 14:34] Rashmisingh-18 commented on #39
Hey @yashikabhargava, please assign this issue to me under hacktoberfest 2022.

[2022-10-03 14:37] yashikabhargava commented on #37
@notafk-rajat Yes, that's a great suggestion. Do you want to work on this issue? If yes then please provide more information about favicon you want to add.

[2022-10-03 14:41] yashikabhargava commented on #37
@Rashmisingh-18 Thank you for showing your interest, If @notafk-rajat will not be working on this issue then I'll assign it to you and If he's going to work on the issue then you can raise another issue, I'll assign that to you : )

[2022-10-03 14:41] notafk-rajat commented on #37
@yashikabhargava Yep would like to work on the issue.

I would like to add this favicon

![icons8-repository-48](https://user-images.githubusercontent.com/84857474/193605306-fa0c1582-9a35-4721-a11f-104c15d542a2.png)

As it kind of matches the theme of the website.

[2022-10-03 14:44] yashikabhargava commented on #37
Okay, The favicon looks good. I'm assigning the issue to you.

[2022-10-03 14:45] notafk-rajat commented on #37
Should  I save the favicon image in img->icons ?

[2022-10-03 14:45] yashikabhargava commented on #37
@notafk-rajat Are you raising this issue under hacktoberfest?

[2022-10-03 14:46] notafk-rajat commented on #37
@yashikabhargava Yes

[2022-10-03 14:48] yashikabhargava commented on #37
No, that folder is for resources related to the icons tool. You can save the image just inside the img folder by the name of favicon.

[2022-10-03 14:49] notafk-rajat commented on #37
Okay.

[2022-10-03 14:54] yashikabhargava commented on #39
@Rashmisingh-18 Can you please provide more information about the changes that you are planning on doing like
- How are you going to improve the navbar and footer?
And favicon is already being added by someone else so please do'nt add that as it will cause conflicts.

[2022-10-03 14:56] shashank-iter commented on #39
@yashikabhargava Hey Yashika, actually I saw your repo on twitter and was trying to improve UI, I added some gradients and Glassmorphism to the Cards. Would you like to have a look ?

[2022-10-03 15:05] shashank-iter commented on #39
Sure just doing that.

[2022-10-03 15:06] shashank-iter opened #40 "Improved UI by adding Gradient and added glassmorphism to card elements"
Kindly check the video preview here:
https://clipchamp.com/watch/KLXkZ7vwgJs

[2022-10-03 15:20] #40 closed

[2022-10-03 15:44] suvasreeMondalDev opened #42 "Hovering on Navbar button seems ugly"
## Description
On hovering Navbar button, background color too big without any effect.

## Screenshots
![image](https://user-images.githubusercontent.com/114935019/193618906-6d86f03f-7ee8-4601-abcf-75a3eae1177c.png)

## Do you want to work on this issue?
I want to work on this issue, please assign this to me. I'll do it definitely.

## How are you planning to resolve on this issue?
I'll check for

[2022-10-03 15:44] suvasreeMondalDev commented on #42
or please add a hacktoberfest label on this project

[2022-10-03 15:45] #37 closed

[2022-10-03 15:48] Rashmisingh-18 commented on #39
Hey @yashikabhargava, I raised this issue, would be glad if you assign this to me.

[2022-10-03 15:48] #29 closed

[2022-10-03 15:51] yashikabhargava commented on #42
Hcktoberfest label is added on the project : )

[2022-10-03 15:56] yashikabhargava commented on #39
Yes. @Rashmisingh-18 I'll be assigning it to you only but please provide more information about the changes you are planning on doing like-

How are you going to improve the navbar and footer?
And favicon has already been added by someone else so please don't add that.

[2022-10-03 16:00] Sammydepoj commented on #42
hi, i would like to work on this

[2022-10-03 16:40] Sammydepoj commented on #42
alright then. thank you

[2022-10-03 16:40] Rashmisingh-18 commented on #39
![Uploading Navbar.png…]()
In the navbar, want to add transition effects, borders, etc, improve that 'Get Started button.
![Uploading Footer.png…]()
And in the footer, want to include some more info, like 'quick links', 'Services', and 'Social Media handles.
Also after 'contact us', there should be a section that shows 'why you should choose this website for better learning'.

[2022-10-03 17:10] sakshamvedi opened #43 "Animating the Web-X Logo on Hover"
I want to animate the web-x logo on header screen of (home screen) ,that  animate on **hover ** by cursor,

## Are you raising this issue under hacktoberfest? (Remove this section if you are not a hacktoberfest participant)
Yes, I'm raising this issue under hacktoberfest.

[2022-10-03 17:10] sakshamvedi commented on #43
Hacktoberfest-2022

[2022-10-03 17:32] yashikabhargava commented on #43
Sounds great, assigning this issue to you.

[2022-10-03 17:56] Prashant7451 commented on #35
Ya sure

[2022-10-03 18:01] Prashant7451 commented on #35
<img width="701" alt="ss" src="https://user-images.githubusercontent.com/103504965/193646655-a7ebc701-f7f4-432d-93e2-2d5e7ea0295b.png">

[2022-10-03 18:05] grraghav120 commented on #34
Okay

[2022-10-03 18:15] Laxmankohar opened #47 "Add dark theme toggle button on website"
I want to add a dark theme toggle button on website at the bottom of page.

## Do you want to work on this issue?
 yes

## Are you raising this issue under hacktoberfest? (Remove this section if you are not a hacktoberfest participant)
Yes, I'm raising this issue under hacktoberfest.

[2022-10-03 18:16] yashikabhargava commented on #39
Sounds good, assigning this issue to you.

[2022-10-03 18:17] #36 closed

[2022-10-03 18:21] yashikabhargava commented on #35
Looks good but the color of the button does not seem to be matching with the rest of the website. Also, the color of "Drop up a message" is a bit dark. Can you fix this and share the update again?
Thanks

[2022-10-03 18:23] yashikabhargava commented on #47
Sounds good, you can go ahead and work on this issue.

[2022-10-03 18:23] Abhijeet03s opened #48 "Designed scrollbar and added padding"
## Description
- Designed scrollbar
- Added padding and margin to make UI clean (check screenshots)

## Screenshots

###  scrollbar-changes
![changes-scrollbar-design](https://user-images.githubusercontent.com/107188710/193650164-46419379-93ac-487f-b1ee-ae870caba7df.png)

###  padding-margin changes
![added-margin-on-inner-heading](https://user-images.githubusercontent.com/107188710/193650175-9907

[2022-10-03 18:23] Prashant7451 opened #49 "Sticky navbar"
## Description
navbar doesn't remain static as we move the site's page

## Do you want to work on this issue?
write yes

## How are you planning to resolve on this issue?
I will make navbar static which makes it more effective.

## Are you raising this issue under hacktoberfest? (Remove this section if you are not a hacktoberfest participant)
Yes, I'm raising this issue under hacktoberfest.

[2022-10-03 18:24] Laxmankohar commented on #47
ok

[2022-10-03 18:33] #48 closed

[2022-10-03 18:37] yashikabhargava commented on #49
I do not feel the need for making the footer static but would like to work on a sticky nav instead.

[2022-10-03 18:41] Prashant7451 commented on #49
Okay sounds cool,so should i change footer to navbar or create a new issue

[2022-10-03 18:46] yashikabhargava commented on #49
No, You can edit this issue only, and then I'll assign it to you.

[2022-10-03 18:49] yashikabhargava commented on #49
Also, please complete the tasks mentioned in the previous issue you raised and update the PR that you have open, and then only start working on this one.
Thanks

[2022-10-03 18:51] Prashant7451 commented on #49
i have made pr actually u excepted pr so it was showing conflict now it is ressolved u can check and merge the same.

[2022-10-03 18:52] shashank-iter opened #50 "Add a zoom in effect to the cards when they are hovered upon."
## Description
The key idea is to add a zoom in effect on the cards when they are hovered upon

## Screenshots
I will attach them before making a pull request.

## Do you want to work on this issue?
Yes I do want to work this issue.

## How are you planning to resolve on this issue?
I will use CSS transform transform properties.

## Are you raising this issue under hacktoberfest?
Yes.

[2022-10-03 18:56] yashikabhargava commented on #19
@Heismanish you closed the PR, are you not working on this issue anymore?

[2022-10-03 18:59] yashikabhargava commented on #49
Yes, I saw that and have asked you to make some changes please check that out.

[2022-10-03 19:01] yashikabhargava commented on #50
Sounds good, You can go ahead and work on this issue.

[2022-10-03 19:10] Prashant7451 commented on #49
ya sure

[2022-10-03 19:15] yashikabhargava commented on #19
Okay, So you are going to open a new PR?

[2022-10-03 19:28] Heismanish commented on #19
Sorry I won't be able to do so, because there are some new code has been inserted in the css that's making the navigation button that I added beahve absurdly and I don't have an idea about how to fix so please assign it to someone else.

[2022-10-03 19:43] shashank-iter commented on #50
@yashikabhargava Here is a preview of the changes that I made:
https://clipchamp.com/watch/acMAh8XmBB7

[2022-10-03 20:17] #50 closed

[2022-10-03 20:19] yashikabhargava commented on #19
Sure, No problem.

[2022-10-04 06:16] #47 closed

[2022-10-04 06:17] Prashant7451 commented on #49
Hey @yashikabhargava  assign this task so that i may work on it under hacktoberfest

[2022-10-04 06:36] grraghav120 commented on #34
Okay time to move on this issue :) @yashikabhargava

[2022-10-04 06:39] #26 closed

[2022-10-04 09:55] abhirk247 opened #58 "Animate elements as they scroll into view."
## Description
Animate elements as they scroll into view.

## Screenshots

https://user-images.githubusercontent.com/41264611/193790385-8672618f-c9ae-4e62-b81e-d6621640b44a.mp4

## Do you want to work on this issue?
yes

## How are you planning to resolve on this issue?
using ScrollReveal javascript library.

## Are you raising this issue under hacktoberfest? (Remove this section if you are not a

[2022-10-04 15:47] yashikabhargava commented on #58
@abhirk247 This looks great, you can go ahead and open a PR.

[2022-10-04 16:13] Rashmisingh-18 commented on #39
Made changes in Navbar as:
![navbar_webX](https://user-images.githubusercontent.com/90052358/193870807-82f0d544-4a50-4c4e-85bb-ec2745cef2ae.png)
And in the footer as:
![footer_webX](https://user-images.githubusercontent.com/90052358/193870876-f8bdc8f6-85df-4431-bfc5-4508b2e43154.png)

Please reply if any other changes are required.

[2022-10-04 16:25] yashikabhargava commented on #39
Looking great, There is just a minor typo in the spelling of 'and' in the footer, Please fix that and then go ahead and open a PR.

[2022-10-04 17:48] #58 closed

[2022-10-04 18:17] MD-ARBAB-SAHID opened #62 "Website not responsive in tablets"
## Description
The content of the website overflows and breaks down at certain breakpoints(usually for tablets sizes ranging from 600 - 800)

## Screenshots
<img width="694" alt="Screenshot 2022-10-04 at 11 38 52 PM" src="https://user-images.githubusercontent.com/63171580/193895083-9b847c89-91db-410c-ade0-95093258252b.png">

<img width="707" alt="Screenshot 2022-10-04 at 11 39 16 PM" src="https://

[2022-10-04 18:29] notafk-rajat opened #63 "Follow Us Buttons"
## Description
The follow us buttons in the footer sections are not directing to the link they should as the links are not provided, on clicking them one just goes back to the top of the page.

## Do you want to work on this issue?
Yes

## How are you planning to resolve on this issue?
I'll add the proper links to all three buttons.
I'll need the link for linkdin though @yashikabhargava

## Are yo

[2022-10-04 19:39] Laxmankohar commented on #19
@yashikabhargava  can you please assign this to me? I want to work on this.

[2022-10-04 22:54] MD-ARBAB-SAHID commented on #62
Can be solved by using bootstrap cards.Can you assign this to me ?

[2022-10-05 06:19] tajbaba999 commented on #63
I want to work on this issue.
Should I add any social media buttons
1)Facebook.
2)Instagram
3)other
I know how to add them can please assign me to this project

[2022-10-05 06:49] notafk-rajat commented on #63
@tajbaba999 The issue is not about adding buttons, it's about adding relevant links to the existing buttons. Also as I already stated above that I do want to work on this issue. Hope you understand.

[2022-10-05 08:07] yashikabhargava commented on #19
@Laxmankohar Yes, assigning it to you.

[2022-10-05 08:09] yashikabhargava commented on #62
@MD-ARBAB-SAHID Okay, assigning this issue to you.

[2022-10-05 09:02] Aspireve commented on #33
Hi @yashikabhargava I dont think ```labeler.yml``` works with keywords on the PR but instead it works with the files which are changed

[2022-10-05 09:21] grraghav120 commented on #63
I leave that links empty because It will be added by @yashikabhargava from her side.

[2022-10-05 09:22] grraghav120 opened #64 "Changing the Readme.md file"
## Description
Changing the Readme.md file mainly the screenshots of website (modified website)

## Screenshots
Put any screenshot(s) here.

## Do you want to work on this issue?
Yes

## How are you planning to resolve on this issue?
Changing the screenshots

## Are you raising this issue under hacktoberfest? (Remove this section if you are not a hacktoberfest participant)
Yes, I'm raising this is

[2022-10-05 10:02] yashikabhargava commented on #33
Okay, I do not have much idea about it. What do you have in mind?

[2022-10-05 10:12] yashikabhargava commented on #64
I'll assign this issue to you but won't be able to consider it under hacktoberfest as it's mentioned on hacktoberfest website that optimizing images won't be counted as a contribution towards hacktoberfest.

[2022-10-05 10:16] yashikabhargava commented on #63
@notafk-rajat Okay, Assigning this issue to you. Here's the link to my LinkedIn profile - http://www.linkedin.com/in/yashika-bhargava-1171581aa

[2022-10-05 10:16] tajbaba999 commented on #63
Thanks for your replay @notafk-rajat
Can you please assign me this task? I am ready to do this job.

[2022-10-05 10:19] yashikabhargava commented on #63
@tajbaba999 Thank you for showing your interest but this issue has already been assigned. You can raise some other issue and I'll assign that to you.

[2022-10-05 11:03] #43 closed

[2022-10-05 11:11] MD-ARBAB-SAHID commented on #62
For large screen size (>=992px) 3 cards in a row
For medium screen size(>=768px) 2 cards in a row
For small screen size(>=576px) 1 cards in a row

Is that fine ?

[2022-10-05 11:16] yashikabhargava commented on #62
Yes, It's fine.

[2022-10-05 11:26] MD-ARBAB-SAHID commented on #62
ok opening a PR @yashikabhargava

[2022-10-05 12:02] grraghav120 commented on #64
Okay np @yashikabhargava

[2022-10-05 12:06] Aspireve commented on #33
Kinda I too didnt understand much lol (just thought I could learn about it on the go).
Maybe someone who has already done it before can explain it better!!

[2022-10-05 12:47] grraghav120 opened #67 "Contact Page looks not good according to other elements in website"
## Description
want to change contact page according to the elements of website give me suggestion as how to improve.

## Screenshots
Put any screenshot(s) here.
![image](https://user-images.githubusercontent.com/96789493/194063451-2cb06a82-3579-43d6-9183-a7fea9d9fc05.png)
Like this as made some changes

## Do you want to work on this issue?
YES

## How are you planning to resolve on this issue?
D

[2022-10-05 13:18] #63 closed

[2022-10-05 13:23] #42 closed

[2022-10-05 13:30] yashikabhargava commented on #67
@grraghav120 This issue has already been raised and is assigned to someone else.

[2022-10-05 13:30] #67 closed

[2022-10-05 15:21] #62 closed

[2022-10-05 15:31] MD-ARBAB-SAHID opened #69 "Logo animation flickering"
## Description
Logo animation keeps flickering when hovered on edge of logo.

## Screenshots

https://user-images.githubusercontent.com/63171580/194100530-b9e6a78e-3dfe-4cfd-84ba-210ad1bd1edc.mov

## Do you want to work on this issue?
No

## Are you raising this issue under hacktoberfest?
Yes, I'm raising this issue under hacktoberfest.

[2022-10-05 16:14] yashikabhargava commented on #69
Okay, Assigning this to you. Would you also like to work on making the animation better as it doesn't look good?

[2022-10-05 16:27] yashikabhargava commented on #69
One suggestion, please remove that border and background and do the animation just on text.
Thanks

[2022-10-05 16:58] MD-ARBAB-SAHID commented on #69
so you only want the text to rotate 360 deg ? @yashikabhargava

[2022-10-05 17:00] yashikabhargava commented on #69
No, instead of rotating it, can we not do something else?

[2022-10-05 17:07] MD-ARBAB-SAHID commented on #69
I Am on it, will let you know.

[2022-10-05 17:17] OgaDavid opened #71 "Adding New Resources."
Adding more resources to the resources section.

## Do you want to work on this issue?
 yes

## How are you planning to resolve on this issue?
- To the Icons section, I'll be adding [Iconoir](https://iconoir.com/) (An  Icons library available in SVG format for React and React Native libraries, flutter, figma and framer)
- To the CSS generator section. i'll be adding [Fffuel](https://fffuel.co/uuun

[2022-10-05 17:21] yashikabhargava commented on #71
Sounds good, assigning this issue to you.

[2022-10-05 17:26] MD-ARBAB-SAHID commented on #69
Normal animation without hovering
https://user-images.githubusercontent.com/63171580/194123311-a66c3eae-2272-464b-87b6-75e95050b9f1.mov

[2022-10-05 17:30] OgaDavid commented on #71
Ok, thanks you.

[2022-10-05 17:43] yashikabhargava commented on #69
I'm not sure about having that animation for all time.

[2022-10-05 17:50] MD-ARBAB-SAHID commented on #69
okay let me check some other animations

[2022-10-05 20:42] ShubhamPatil0723 opened #72 "Enhancement: Divide code into different sections for better readability and maintenance."
## Description
There are a lot of resources so if we divide these resources into different files then it will be easy to navigate.

## Screenshots
### Something similar to this 👇
![SearchBar](https://user-images.githubusercontent.com/92074003/194158549-9cb3b90f-e921-49a3-aa9e-59d937e79753.jpg)

## Do you want to work on this issue?
yes

## How are you planning to resolve this issue?
Provide some i

[2022-10-05 20:49] ShubhamPatil0723 opened #73 "Enhancement: Divide code into different sections for better readability and maintenance"
## Description
There are a lot of resources so if we divide these resources into different files then it will be easy to navigate and maintain code.

## Screenshots
Add Category dropdown or menu in this nav bar
![category](https://user-images.githubusercontent.com/92074003/194160129-7ded749f-ad4b-4dea-bc55-b056e7097587.jpg)

## Do you want to work on this issue?
yes, Please assign this task to me

[2022-10-05 21:51] MD-ARBAB-SAHID commented on #69
What about using a logo image instead of normal text ? Will that be fine ?

[2022-10-06 07:58] MahijithMenon commented on #73
yes, Please assign this task to me @yashikabhargava

[2022-10-06 09:10] OgaDavid commented on #71
Hello @yashikabhargava , I've made the changes.

[2022-10-06 09:11] OgaDavid commented on #71
![webx-4-edit](https://user-images.githubusercontent.com/104001201/194273954-f7fb13ff-db0e-47f4-ba9e-b615a5b7db8b.png)

[2022-10-06 09:14] yashikabhargava commented on #71
Yes, you can go ahead and open a PR.

[2022-10-06 14:52] yashikabhargava commented on #73
@ShubhamPatil0723 Thank you for raising this issue, I was about to do the same. Are you also going to work on the style.css file as currently, it is really hard to read the code in that file?

About the dropdown, that issue has already been raised and assigned to someone.

[2022-10-06 15:01] #34 closed, assigned to grraghav120

[2022-10-06 15:03] yashikabhargava commented on #69
Yes, that'll be fine.

[2022-10-06 15:05] yashikabhargava commented on #19
Yes, looks great! You can go ahead and open a PR.

[2022-10-06 15:22] Prashant7451 commented on #49
@yashikabhargava  do you need sticky navbar

[2022-10-06 16:17] #35 closed, assigned to Prashant7451

[2022-10-06 16:23] #49 closed

[2022-10-06 17:09] #71 closed

[2022-10-06 18:48] OgaDavid commented on #71
Thank you for merging my pull request, i really appreciate you!

[2022-10-06 19:34] Prashant7451 opened #76 "Contact button in navbar"
## Description
Contact button in navbar  is irresponsive .

## Do you want to work on this issue?
Yes

## How are you planning to resolve on this issue?
Contact button will be linked to contact us.

## Are you raising this issue under hacktoberfest? (Remove this section if you are not a hacktoberfest participant)
Yes, I'm raising this issue under hacktoberfest.

[2022-10-06 21:43] MD-ARBAB-SAHID commented on #73
Is it like different pages for different sections ?@yashikabhargava

[2022-10-06 22:01] MD-ARBAB-SAHID commented on #69
![WebX-logos](https://user-images.githubusercontent.com/63171580/194425339-4fa8249c-7be2-4359-9fd1-a07fb1da3efa.jpeg)
2.

![WebX-logos_white](https://user-images.githubusercontent.com/63171580/194425371-f3d1a2d6-86b2-4888-8b43-fac860ba457f.png)

3.

![WebX-logos_black](https://user-images.githubusercontent.com/63171580/194425402-7362ad78-5302-4830-9776-d1fd8227369a.png)

4.

![WebX-logos_transpare

[2022-10-07 13:41] sohail60 opened #78 "UI Improvement"
## Description
There is a lot of extra space in the contact section.

## Screenshots
![image](https://user-images.githubusercontent.com/93881214/194567347-22fb4ef9-6868-4b99-acc6-938fb7bad8b6.png)

## Do you want to work on this issue?
Yes

## How are you planning to resolve on this issue?
Writing CSS

## Are you raising this issue under hacktoberfest? (Remove this section if you are not a hacktob

[2022-10-07 13:41] sohail60 commented on #78
Hand over this problem to me.

[2022-10-07 13:46] grraghav120 opened #79 "What happen with My Code it does not show on your hosted website and also Contact Button also Disturbed and follow us button also disturbed kindly check"
## Description
What happen with My Code it does not show on your hosted website and also Contact Button also Disturbed and follow us button also disturbed kindly check

## Screenshots
Put any screenshot(s) here.

## Do you want to work on this issue?
write yes or no

## How are you planning to resolve on this issue?
Provide some information about the changes you'll be doing to resolve the issue.

[2022-10-07 13:48] grraghav120 commented on #79
![image](https://user-images.githubusercontent.com/96789493/194569021-23a6eee6-89d1-47f1-bde5-027be6fedaaf.png)

[2022-10-07 16:12] ShubhamPatil0723 commented on #73
@yashikabhargava Sure I can work on both Html and CSS, Btw should I wait till other PRs are merged or start right now? or else there will be conflicts between our PRs

[2022-10-07 16:13] ShubhamPatil0723 commented on #73
@MD-ARBAB-SAHID Yes, Code will get divided into different files

[2022-10-07 16:14] MD-ARBAB-SAHID commented on #73
How it will look I mean the navbar and footer must be same and only the middle content will change ?

[2022-10-07 16:15] ShubhamPatil0723 commented on #73
@MahijithMenon You can check PR #75 he have posted some SS

[2022-10-07 16:15] ShubhamPatil0723 commented on #73
yeah something like that

[2022-10-07 16:18] MD-ARBAB-SAHID commented on #73
In that case its going to be a lot of repetitive code.

[2022-10-07 16:23] ShubhamPatil0723 commented on #73
We can't do anything about that, If it was react we would have to just update some components but for HTML other than creating a new page there are no solutions in my mind, Do you have an alternate solution for this? @MD-ARBAB-SAHID

For CSS I can minimize the code by importing repetitive code into other CSS files

[2022-10-07 16:27] MD-ARBAB-SAHID commented on #73
@ShubhamPatil0723 React would have been a perfect choice. Apart from that we can use templating language like EJS or Pug but that requires a Node Js server.

[2022-10-07 16:29] ShubhamPatil0723 commented on #73
Yeah but let's wait for yashika

[2022-10-07 16:53] heyvats21 opened #81 "Add more names of GREAT COLORS TOOLS"
## Description
Want to add more names of the colors tools.

## Screenshots
Put any screenshot(s) here
![image](https://user-images.githubusercontent.com/81029204/194607347-a756d4c5-e2fd-485e-afc8-1a941f5ef986.png)
.

## Do you want to work on this issue?
write yes

## Are you raising this issue under hacktoberfest?
Yes, I'm raising this issue under hacktoberfest.

[2022-10-07 17:06] yashikabhargava commented on #73
Yes maybe start tomorrow let me merge some PRs.

[2022-10-07 17:07] yashikabhargava commented on #73
Yes, that is the only solution with HTML.

[2022-10-07 17:14] yashikabhargava commented on #73
Actually, I want this repository to be beginner friendly, hence for now let's just go with HTML .

[2022-10-07 17:22] #76 closed

[2022-10-07 17:26] yashikabhargava commented on #79
@grraghav120 Thank you for pointing this out, will look into that.

[2022-10-07 17:31] yashikabhargava commented on #76
@Prashant7451 The PR for this issue was opened by @sohail60  and I merged it. I just saw that this issue was opened by you and I apologize for not assigning it to you.

@sohail60 This is not a good practice please do not open a PR until the issue has been assigned to you.

[2022-10-07 17:34] heyvats21 commented on #76
@yashikabhargava i have created a new Issue check it out.

[2022-10-07 17:35] sohail60 commented on #76
@yashikabhargava @Prashant7451 So sorry. I didn't know that before.

[2022-10-07 17:40] ShubhamPatil0723 commented on #73
Got it

[2022-10-07 17:40] yashikabhargava commented on #73
@ShubhamPatil0723 You can start working from today only, I'm assigning this issue to you.
Can you please tell though how long will it take you to make all these changes?

[2022-10-07 17:42] ShubhamPatil0723 commented on #73
I'm not sure if nothing comes up I can get it done by this Sunday

[2022-10-07 17:43] yashikabhargava commented on #73
Alright!

[2022-10-07 18:06] yashikabhargava commented on #69
@MD-ARBAB-SAHID The second one looks fine, But please don't open a PR yet as you know some changes are being made to the code.

[2022-10-07 18:36] MD-ARBAB-SAHID commented on #69
Sure np. Just remind whenever I have to open a PR. @yashikabhargava

[2022-10-07 18:38] MD-ARBAB-SAHID commented on #79
What is the desired result any screenshot ?@grraghav120 @yashikabhargava

[2022-10-08 01:25] grraghav120 commented on #79
Can i work on the issue on new branch? @yashikabhargava

[2022-10-08 03:16] heyvats21 commented on #81
Okayy @yashikabhargava

[2022-10-08 10:30] #73 closed

[2022-10-08 11:50] SajidAnTechie commented on #33
@yashikabhargava can I work on this issue?. If yes do assigne me

[2022-10-08 12:12] mayanksharma-1 opened #83 "Screenshots of Working application links are broken"
## Description
Screenshots of **Working application links** under the README.md are broken

## Screenshots
[![Image of broken screenshots](https://i.gyazo.com/7e5dde565211a3f1c9e382235d257c29.png)](https://gyazo.com/7e5dde565211a3f1c9e382235d257c29)
[![Image of the broken link when the screenshots are clicked](https://i.gyazo.com/b3bfa26af55b8c49330c8e0a013d22fd.jpg)](https://gyazo.com/b3bfa26af55

[2022-10-08 13:00] jyotika6221 commented on #81
Please assign me with this task.

[2022-10-08 13:02] jyotika6221 commented on #33
Please assign me this issue. And share a brief detail about it.

[2022-10-08 14:15] heyvats21 commented on #81
@yashikabhargava is the updation part done?

[2022-10-08 14:46] yashikabhargava commented on #83
I've assigned this issue to you but won't be able to consider it under hacktoberfest as it's mentioned on hacktoberfest website that optimizing images won't be counted as a contribution towards hacktoberfest.

[2022-10-08 14:57] yashikabhargava commented on #81
@heyvats21 Yes, assigning this issue to you, please add free resources only.

[2022-10-08 14:58] yashikabhargava commented on #81
@jyotika6221 this issue has been assigned, kindly raise some other issue, and I'll assign that to you.

[2022-10-08 15:00] yashikabhargava commented on #79
@grraghav120 It is working now.

[2022-10-08 15:00] #79 closed

[2022-10-08 15:02] jyotika6221 commented on #81
hey, i have already asked for assigning automate labelling PRs issue. kindly assign it to me.

[2022-10-08 15:05] yashikabhargava commented on #33
@SajidAnTechie Yes, you can work on this issue.

[2022-10-08 15:06] yashikabhargava commented on #69
@MD-ARBAB-SAHID You can open a PR now.

[2022-10-08 15:08] jyotika6221 commented on #78
Please assign me this issue.

[2022-10-08 15:38] fosterer opened #86 "Favicon of the webpage is missing."
## Description
An icon that appears beside the title of the website known as favicon is missing in the website title bar.

## Screenshots
Put any screenshot(s) here.

## Do you want to work on this issue?
yes

## How are you planning to resolve on this issue?
I would be providing a favicon in the index.html

## Are you raising this issue under hacktoberfest? (Remove this section if you are not a h

[2022-10-08 15:40] fosterer commented on #86
please assign me this issue and a chance to contribute in this repo.

[2022-10-08 15:47] yashikabhargava commented on #86
@fosterer favicon was added to the website but it's not working so if you are planning on adding a new one kindly remove the code for previous one.

[2022-10-08 15:49] yashikabhargava commented on #86
Also, do ask for reviewing the favicon that you're planning on adding before opening the PR.
Thanks

[2022-10-08 15:51] #83 closed

[2022-10-08 16:18] #64 closed

[2022-10-08 16:24] heyvats21 opened #88 "Website to learn Web Development"
## Description
want to add a different section of from where we can learn web dev

![image](https://user-images.githubusercontent.com/81029204/194717600-e0e62a77-f167-449f-9c11-c2001b7b2831.png)

## Do you want to work on this issue?
write yes

## How are you planning to resolve on this issue?
I will do R&D on the free resources and get the proper list of it.

## Are you raising this issue under h

[2022-10-08 16:29] front-runner-sd opened #89 "Dark Mode toogle not working"
## Description
I can create a dark mode  theme for the website.

## Screenshots
Put any screenshot(s) here.

## Do you want to work on this issue?
yes

## How are you planning to resolve on this issue?
Provide some information about the changes you'll be doing to resolve the issue.

## Are you raising this issue under hacktoberfest? (Remove this section if you are not a hacktoberfest participant)

[2022-10-08 16:34] yashikabhargava commented on #89
@front-runner-sd The code for dark mode is there but it's not working, hence do you want to work on resolving that issue?

[2022-10-08 16:39] front-runner-sd commented on #89
yes I want to work in this issue.

[2022-10-08 16:51] front-runner-sd commented on #89
@yashikabhargava I've fixed the button , it is now working. But in the code the button is only on landing page so only home page changes theme.
![image](https://user-images.githubusercontent.com/91823106/194718465-8980cccd-b1fc-4b91-8be8-127295acc56f.png)

[2022-10-08 16:58] yashikabhargava commented on #89
Okay, so will you be able to make it work for the whole website and not just the landing page?

[2022-10-08 16:59] front-runner-sd commented on #89
yes! but to do so I have to add the toggle checkbox into other htmls too.

[2022-10-08 17:25] SajidAnTechie commented on #33
@yashikabhargava i have opened the pr for this issue. Please review
https://github.com/yashikabhargava/WebX/pull/90

[2022-10-09 03:53] heyvats21 commented on #81
@Saurav50 I am not getting what you have done??? I think this task was assigned to me and i have sent the merge request to @yashikabhargava

[2022-10-09 07:14] ShubhamPatil0723 opened #94 "Add New Prototyping Tools Section"
## Description
Prototyping tools like figma, Penpot are used to create web prototypes from browsers. List these tools in WebX website

## Do you want to work on this issue?
yes

## How are you planning to resolve this issue?
Add new section in HTML files

## Are you raising this issue under hacktoberfest?
Yes

[2022-10-09 08:26] MD-ARBAB-SAHID commented on #69
<img width="1435" alt="Screenshot 2022-10-09 at 1 54 36 PM" src="https://user-images.githubusercontent.com/63171580/194746128-66d09c0a-e390-4112-accc-56410f70679f.png">

@yashikabhargava as background is white so I added the black one(3rd)

[2022-10-09 19:07] diksha0149 commented on #81
Hiii @yashikabhargava , I know some more  Color website, Please assign me this issue .

[2022-10-09 19:23] diksha0149 commented on #78
**Description**
  -Padding and text underline over Hover  is not looking good in Resources Page
**Screenshot**
![Screenshot (318)](https://user-images.githubusercontent.com/82230512/194775645-f5b464ff-24ee-44de-9533-b5802c758716.png)

**Do you wnat to work on this issue?**
Yes
**How are you planning to resolve on this issue?**
Writing CSS and by adding some Good hover effect.

**Are you raising th

[2022-10-10 04:40] heyvats21 commented on #81
@diksha0149 i have added a lot of websites in it. but @yashikabhargava  has not updated it yet.

[2022-10-10 09:25] MD-ARBAB-SAHID opened #99 "Meta tags not configured for each page"
## Description
All the pages have same tittle and no description and keywords.

## Do you want to work on this issue?
Yes

## How are you planning to resolve on this issue?
By adding meta tags to each page

## Are you raising this issue under hacktoberfest? (Remove this section if you are not a hacktoberfest participant)
Yes, I'm raising this issue under hacktoberfest.

[2022-10-10 09:25] MD-ARBAB-SAHID commented on #99
@yashikabhargava can you assign this to me ?

[2022-10-10 17:19] yashikabhargava commented on #78
Kindly raise an issue.

[2022-10-10 17:23] yashikabhargava commented on #88
Sounds good, have assigned this issue to you.

[2022-10-10 17:31] yashikabhargava commented on #94
Sounds good, have assigned the issue to you.

[2022-10-10 17:40] #33 closed

[2022-10-10 17:50] #89 closed

[2022-10-10 17:54] #94 closed

[2022-10-10 18:08] yashikabhargava commented on #99
@MD-ARBAB-SAHID Thank you for raising this issue, have assigned it to you.

[2022-10-10 19:01] MD-ARBAB-SAHID commented on #69
@yashikabhargava is it fine ? Shall I open a PR.

[2022-10-10 19:42] diksha0149 opened #100 "Improve the UI of Resources Section"
## Description
A clear and concise description of what is the problem/issue in the website.
   In Resource section, margin and hover effect is not proper

## Screenshots
Put any screenshot(s) here.
![Screenshot (318)](https://user-images.githubusercontent.com/82230512/194940862-32962755-712b-4004-b4d7-0b381050dd76.png)

## Do you want to work on this issue?
Yes

## How are you planning to resolve

[2022-10-11 05:29] JayrajSingh65 opened #101 "fix: readme need an update"
Can you assign this issue to me?

[2022-10-11 06:37] centurion6x opened #102 "Implementing frontend input validation on the contact form."
## Description
Input to the contact form (i.e. telephone, email) must be validated in the frontend.

## Screenshots
![image](https://user-images.githubusercontent.com/80505101/195013338-3b50ff89-8550-407c-b8ee-3264b2bbb564.png)

## Do you want to work on this issue?
I do want to work on this issue.

## How are you planning to resolve on this issue?
Changes will be made to the contact.html file, ma

[2022-10-11 07:19] heyvats21 commented on #88
@yashikabhargava  have a look I have completed the task.

[2022-10-11 16:55] #19 closed

[2022-10-11 17:01] yashikabhargava commented on #100
@diksha0149 assigning this issue to you.

[2022-10-11 17:02] yashikabhargava commented on #101
@JayrajSingh65 Please elaborate on what kind of updates does the readme file needs.

[2022-10-11 17:04] yashikabhargava commented on #102
@centurion6x You can go ahead and work on this issue.

[2022-10-11 17:04] JayrajSingh65 commented on #101
Contributing guidelines

[2022-10-11 17:05] JayrajSingh65 commented on #101
How to clone and all git process for beginners

[2022-10-11 17:11] yashikabhargava commented on #69
@MD-ARBAB-SAHID In dark mode, the black one won't be visible and according to the theme, the logo color is blue.
 Hence you do one thing just solve the flickering logo issue and open the PR. I apologize for the inconvenience.

[2022-10-11 18:46] MD-ARBAB-SAHID commented on #69
@yashikabhargava We can also add a logo with white text and render one of them depending on the mode.
Shall I try that one ?

[2022-10-12 08:13] notafk-rajat opened #104 "Favicon not displaying"
## Description
Seems like someone messed up the favicon image path a little while making a PR

## Screenshots
<img width="176" alt="Screenshot 2022-10-12 134221" src="https://user-images.githubusercontent.com/84857474/195287806-91657326-09e3-4457-932e-617c26084b84.png">

## Do you want to work on this issue?
Yes.
## How are you planning to resolve on this issue?
I'll just fix the favicon path, how

[2022-10-12 15:10] notafk-rajat opened #106 "Improving text alignment on home page."
## Description
Currently, the text on the homepage is just right next to social icons, there should be a breathing space between the both.

## Screenshots
<img width="1076" alt="image" src="https://user-images.githubusercontent.com/84857474/195380409-7c5253fc-1b89-4492-b73b-f0c8d4ad2adb.png">

## Do you want to work on this issue?
YES

## How are you planning to resolve on this issue?
I'll align t

[2022-10-12 17:04] notafk-rajat commented on #104
I have seen issue #86, but we don't need to add a new favicon when we already have one. We just need to fix the path.

[2022-10-12 17:11] #100 closed

[2022-10-12 17:14] yashikabhargava commented on #69
@MD-ARBAB-SAHID I actually want the color of the logo to remain as it is now only i.e. blue.

[2022-10-12 17:16] #88 closed

[2022-10-12 17:20] yashikabhargava commented on #104
@notafk-rajat Have assigned this issue to you but I won't be able to consider it under hacktoberfest as it's mentioned on the hacktoberfest website that fixing broken images will not be counted as a contribution towards hacktoberfest.

[2022-10-12 17:45] MD-ARBAB-SAHID commented on #69
@yashikabhargava sure I will remove the flickering issue and will open a PR.

[2022-10-12 17:46] notafk-rajat commented on #104
Sure no problem, I'll fix it in a jiffy.

[2022-10-12 18:13] MD-ARBAB-SAHID opened #109 "Path not set correctly"
## Description
The path to the index.html file is not set correctly in resources.html

## Screenshots
https://user-images.githubusercontent.com/63171580/195417210-859b38e0-6e52-4237-9774-5b6a5e67dafd.mov

## Do you want to work on this issue?
Yes.

## How are you planning to resolve on this issue?
By setting correct path to index.html file.

## Are you raising this issue under hacktoberfest?
Yes,

[2022-10-12 18:13] MD-ARBAB-SAHID commented on #109
@yashikabhargava can you please assign this to me?

[2022-10-13 16:44] #86 closed

[2022-10-13 16:47] fosterer opened #111 "loading screen for the website"
## Description
A loading screen of the website is missing.

## Screenshots
Put any screenshot(s) here.

## Do you want to work on this issue?
yes

## How are you planning to resolve on this issue?
I want to provide an animated loading screen to the website.

## Are you raising this issue under hacktoberfest? (Remove this section if you are not a hacktoberfest participant)
Yes, I'm raising this iss

[2022-10-13 16:48] fosterer commented on #111
Please assign me this issue and a chance to contribute.

[2022-10-13 17:33] #104 closed

[2022-10-13 17:46] priyadarshni-jha opened #112 "Add light dark mode toggle button"
## Description
no issues in the website. Adding light dark mode toggle button for enhancing the website

## Screenshots
![moon](https://user-images.githubusercontent.com/112426243/195668471-b2e08d06-e014-4426-861c-623bd47d8634.png)
![sun](https://user-images.githubusercontent.com/112426243/195668572-a9b9e604-d5f7-4a22-8d4a-473fe6f20b78.png)

## Do you want to work on this issue?
Yes I would work o

[2022-10-13 17:46] yashikabhargava commented on #106
@notafk-rajat you can go ahead and work on this issue.

[2022-10-13 17:48] yashikabhargava commented on #109
@MD-ARBAB-SAHID You can work on this issue.

[2022-10-13 17:49] yashikabhargava commented on #111
@fosterer Sounds good, assigning this issue to you.

[2022-10-13 17:53] yashikabhargava commented on #112
@priyadarshni-jha Light / Dark mode toggle is already present on the website but it's not working correctly. So do check that out and remove that code before adding the new one.

[2022-10-13 17:55] yashikabhargava commented on #112
@priyadarshni-jha Also, kindly make sure that the toggle works for the whole website and not just that particular page.

[2022-10-13 18:38] Akash7649 opened #113 "The text "SOME FREE RESOURCES for your next web development project" is not visible in light and dark mode"
![Screenshot (294)](https://user-images.githubusercontent.com/101036630/195679083-0a361474-d518-48cf-95c3-b63766ac81e8.png)

I would like to solve this issue, so please assign this to me under hacktoberfest

[2022-10-13 18:47] MD-ARBAB-SAHID commented on #113
@Akash7649 This issue has already been raised #112 .

[2022-10-13 18:50] #69 closed

[2022-10-13 19:03] madmaxWMFU commented on #112
Hi! Can you assign it to me?

[2022-10-13 19:04] Akash7649 commented on #113
But the text is not visible @MD-ARBAB-SAHID

[2022-10-14 04:28] centurion6x commented on #102
I've already implemented the validation for the contact form. But for the telephone number input, I think it'll be better to implement the field allowing the user to select the country with a drop-down. However, because that will be a fair about of additional code, I feel like I should raise another issue for it. Do you think that will be ok with Hacktoberfest rules?

###Screenshots of the current

[2022-10-14 12:31] centurion6x commented on #39
hey @Rashmisingh-18  is your nav-bar persistent?

[2022-10-14 16:32] #106 closed

[2022-10-15 14:51] #102 closed

[2022-10-15 14:55] yashikabhargava commented on #112
@priyadarshni-jha Any updates? Kindly reply by tomorrow.

[2022-10-15 14:57] #109 closed

[2022-10-15 14:57] yashikabhargava commented on #112
@madmaxWMFU Let me check the status with @priyadarshni-jha, If she is not working on this one then I'll assign it to you.

[2022-10-15 14:59] yashikabhargava commented on #102
@centurion6x Yes, you can raise another issue for it.

[2022-10-15 16:11] Akash7649 opened #118 "Adding a React js resource"
I would like to add a section for react js resource, so please assign me this issue under hacktoberfest

[2022-10-15 16:11] #113 closed

[2022-10-15 16:23] jeevikasirwani opened #119 "Light Dark mode toggle button misfunction"
## Description

The light-dark mode toggle button only switches the text to light or dark mode and not the website background.

## Screenshots

https://user-images.githubusercontent.com/83456541/195997219-7873acde-26e0-4344-9346-83f9a98325b3.mp4

## Do you want to work on this issue?
Maybe yes.

## How are you planning to resolve on this issue?
I think the code for that particular toggle was place

[2022-10-16 03:44] centurion6x commented on #102
Thank you. will do so.

[2022-10-16 14:52] centurion6x opened #122 "Adding country selector for phone number field in contact form"
## Description
In the contact form, current input validation consists of just all numeric conditions. However, adding a country selector will provide better validation and ease of input.

## Screenshots
Put any screenshot(s) here.
![Screenshot 2022-10-14 at 09-34-26 WebX](https://user-images.githubusercontent.com/80505101/196042213-23f2adb1-1219-4a9b-a860-79a9076d6aa1.png)

## Do you want to work

[2022-10-16 14:54] centurion6x commented on #119
I think the issue might be in the script that executes when the toggling happens. Not sure though.

[2022-10-16 17:53] prashant-jadu commented on #111
can you also assign this to me please?

[2022-10-16 17:53] #99 closed

[2022-10-18 08:27] MD-ARBAB-SAHID opened #123 "Cards in the resource page squeezed"
## Description
Cards in the resource page is not as same width as compared to cards in the actuals resources section(like css generators, icons).

## Screenshots
<img width="1438" alt="Screenshot 2022-10-18 at 1 53 20 PM" src="https://user-images.githubusercontent.com/63171580/196377890-dfcf6ed7-cdb8-4c35-9340-e8bcb1ead5ba.png">

<img width="1438" alt="Screenshot 2022-10-18 at 1 53 37 PM" src="htt

[2022-10-18 08:39] MD-ARBAB-SAHID opened #124 "Broken link in logo"
## Description
Path to index.html file not set correctly in logo for all resources page.

## Screenshots
https://user-images.githubusercontent.com/63171580/196380798-3225e0e3-e0c8-45ea-a601-f09e514d377b.mp4

## Do you want to work on this issue?
Yes

## How are you planning to resolve on this issue?
By setting correct path to index.html file.

## Are you raising this issue under hacktoberfest?
Yes

[2022-10-18 18:13] yashikabhargava commented on #118
@Akash7649 That is great, but I only want resources that are for the complete web development courses/Bootcamp as if we will start adding resources for individual technology then the list will be long.

[2022-10-18 18:13] #118 closed

[2022-10-18 18:15] yashikabhargava commented on #119
@jeevikasirwani Thank you for raising this issue, the problem has been fixed.

[2022-10-18 18:25] yashikabhargava commented on #81
@diksha0149 You add those resources by raising another issue.

[2022-10-18 18:26] #81 closed

[2022-10-18 18:31] yashikabhargava commented on #111
@fosterer Are you going to raise another issue, Kindly respond by tomorrow.

[2022-10-19 14:35] centurion6x commented on #122
I just want to confirm that I am actively working on this issue. 😅

[2022-10-19 16:54] #124 closed

[2022-10-19 16:57] yashikabhargava commented on #122
@centurion6x Yes, Don't worry I'll merge your PR only as the issue is assigned to you.

[2022-10-19 17:03] yashikabhargava commented on #111
@fosterer just open a new PR as you did previously.

[2022-10-20 11:45] MonicaFidalgo opened #127 "Adding icons8 to icons list"
## Description
I would like one more free icons resources to the website (icons8)

## Screenshots
![Captura de ecrã 2022-10-20, às 12 42 39](https://user-images.githubusercontent.com/41929489/196939497-618d8517-6ff4-4064-b1a4-0ec40a42fcbe.png)

## Do you want to work on this issue?
Yes

## How are you planning to resolve on this issue?
Adding a new card following the same card rules

## Are you

[2022-10-20 18:03] yashikabhargava commented on #127
@MonicaFidalgo Yes, you can work on this issue.

[2022-10-21 20:42] MonicaFidalgo commented on #127
Thank you @yashikabhargava :) created a pr [here](https://github.com/yashikabhargava/WebX/pull/128)

[2022-10-22 06:41] centurion6x commented on #122
sorry for the late PR. :pray:

[2022-10-22 18:17] #127 closed

[2022-10-23 10:28] centurion6x opened #130 "adding a form for submitting sites to be displayed in the site"
## Description
Users will be able to suggest websites/resources to be included to the site admins via a new suggestions form. It will take in the link, a description, the type of resource and the user's information.

## Screenshots
NA

## Do you want to work on this issue?
Yes

## How are you planning to resolve on this issue?
A new form and a page will be created using the existing pages and styl

[2022-10-23 17:59] #122 closed

[2022-10-25 15:52] yashikabhargava commented on #130
@centurion6x That is a great suggestion, but since this is a static website, I do not feel the need to add this form currently but may be in the future.

For now, we can do one thing, there can be a section that says "have some suggestions or want to add new resources" and that section can redirect to this GitHub repo. Something like the mdn web doc website.
![des](https://user-images.githubuserco

[2022-10-26 00:15] centurion6x commented on #130
Yes, that's a great idea. I'd love to work on it. Shall I open a new issue?

[2022-10-26 05:20] centurion6x opened #133 "adding a contribute page linking to the github page"
## Description
Adding a new page to the site linking to the github repo, allowing the users to contribute to the project and add new resources.

## Screenshots
NA

## Do you want to work on this issue?
Yes

## How are you planning to resolve on this issue?
create a new HTML file for the page.

## Are you raising this issue under hacktoberfest?
Yes, I'm raising this issue under hacktoberfest.

[2022-10-26 06:01] centurion6x opened #134 "Make the nav-bar anchored"
## Description
While scrolling the vertical navbar gets scrolled up. Anchoring the nav-bar will make navigation easier.

## Screenshots
![image](https://user-images.githubusercontent.com/80505101/197946279-7af0c7ee-d521-4bbc-b061-18729e2e4c27.png)
![image](https://user-images.githubusercontent.com/80505101/197946456-c24c6c61-db7c-4dc5-9267-841e7aee6125.png)

## Do you want to work on this issue?
Y

[2022-10-26 14:00] arthisiva451 opened #139 "Resource Youtube is redirecting to wrong website"
## Description
Resource Youtube is redirecting to wrong website

## Screenshots
Put any screenshot(s) here.

## Do you want to work on this issue?
Yes

## How are you planning to resolve on this issue?
I will fix it by adding appropriate link https://www.youtube.com/

## Are you raising this issue under hacktoberfest? (Remove this section if you are not a hacktoberfest participant)
Yes, I'm raisin

[2022-10-26 14:04] arthisiva451 commented on #139
This issue is fixed. Please merge my PR

[2022-10-26 14:04] #139 closed

[2022-10-26 14:04] arthisiva451 commented on #139
Fixed

[2022-10-26 17:41] yashikabhargava commented on #130
@centurion6x You can edit this one only.

[2022-10-26 17:58] Ayushhgupta39 opened #141 "Remove Text decoration on Navbar hover"
## Description
I'd like to remove the underline which we get on hover in the Navbar. This makes it look unprofessional. Please assign me this.

## Screenshots
<img width="234" alt="image" src="https://user-images.githubusercontent.com/96309609/198101158-4d6affbd-2ec8-4d64-af9f-aaf3bfa649e3.png">

## Do you want to work on this issue?
YES

## How are you planning to resolve on this issue?
Provide s

[2022-10-26 18:00] Ayushhgupta39 opened #142 "Contact Form"
## Description
I'd like to add a new, better Contact Form. Please assign me this issue.

## Do you want to work on this issue?
YE

[2022-10-26 18:04] yashikabhargava commented on #141
@Ayushhgupta39 You can work on this issue.

[2022-10-26 18:05] yashikabhargava commented on #142
@Ayushhgupta39 What kind of changes are you planning on doing, kindly elaborate.

[2022-10-26 18:08] Ayushhgupta39 opened #143 "Dark Mode button"
## Description
The position of the dark mode button is not correct.

## Screenshots
![image](https://user-images.githubusercontent.com/96309609/198103131-8718ff9a-5d56-4074-9693-d3a7a5b0b6f3.png)

## Do you want to work on this issue?
YES

[2022-10-26 18:12] Ayushhgupta39 commented on #142
I'd add an entirely new contact form which will have a lot better design and working. It would be really nice.

[2022-10-27 00:07] centurion6x commented on #130
Ah okie

[2022-10-27 16:51] yashikabhargava commented on #133
@centurion6x We do not need a separate page, we just simply create a div or section at the bottom of the index.html file only. Also, that section/ div can be added to each page present on the website.
Hope you are able to understand what I'm trying to say.

[2022-10-27 16:58] yashikabhargava commented on #142
@Ayushhgupta39 Okay, I'm assigning this issue to you but once you are done please show me the screenshot of the updated contact form before opening a PR.
Thanks

[2022-10-27 17:07] Ayushhgupta39 commented on #142
Okay

[2022-10-28 17:41] #143 closed

[2022-10-28 17:43] yashikabhargava commented on #134
@centurion6x You can work on this.

[2022-10-28 17:44] yashikabhargava commented on #123
@MD-ARBAB-SAHID I do not feel the need of it, hence closing this issue.

[2022-10-28 17:45] #123 closed

[2022-10-28 17:54] MD-ARBAB-SAHID commented on #123
👍

[2022-10-29 02:57] centurion6x commented on #133
Yup got it. Thanks will edit the issue.

[2022-10-31 16:59] #134 closed

[2022-11-01 18:50] MD-ARBAB-SAHID opened #148 "Resources related to 'Logo maker'"
## Do you want to work on this issue?
yes

## How are you planning to resolve on this issue?
By adding resources and websites which allows to create logo for free.

[2022-11-09 15:21] santhos-13 opened #149 "Bug fix"
## Description
resource underflow content gets hidden/collides with the main page content

## Screenshots
![image](https://user-images.githubusercontent.com/105668165/200869469-c781e7f1-c272-431f-9df6-5e55d356ad94.png)

## Do you want to work on this issue?
 yes

## How are you planning to resolve on this issue?
i will make the content of resources to z-index 1.

@yashikabhargava

[2022-11-09 17:42] yashikabhargava commented on #149
@santhos-13 you can work on this issue.

[2022-11-10 18:12] #149 closed

[2022-11-12 17:47] #148 closed